accelerate
astunparse
bitsandbytes
clip
fastapi
flatbuffers
gast
google-pasta
h5py
libclang
ml-dtypes
namex
opt-einsum
optree
pip-chill
python-multipart
rich
tensorboard
termcolor
torchaudio
transformers
ultralytics
uvicorn
wrapt
